.catalogueForm form .container {
    margin: 0;
    padding: 0;
}

.catalogueForm button {
    font-size: clamp(0.8rem, 4vw, 1rem);
}

.catalogueForm .dropdown-toggle {
    color: white;
    width: 100%;
    white-space: normal;
    font-size: clamp(0.8rem, 4vw, 1rem);
}

.catalogueForm .dropdown-menu {
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.15);
    white-space: normal;
}

.catalogueForm .dropdown-item {
    white-space: normal;
}

.additionalInfo .form-label {
    text-align: center;
    padding-top: 0;
}

.additionalInfo {
    border-top: 1px solid gray;
}

.additionalInfo .form-check {
    display: flex;
    text-align: left;
    justify-content: center;
    gap: 2rem;
}

.additionalInfo .form-check label {
    width: 90%;
}

.additionalInfo .form-label {
    font-weight: bold;
}

.alert-success {
    background-color: rgba(51, 102, 153, 0.5);
    color: var(--yale-blue);
    border: 1px solid var(--yale-blue);
}

.feedback {
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

.pathname-text {
    font-size: 0.8rem;
}

.lg-border {
    border-top: 1px solid lightgray;
}

.filter-input {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.reopen-dropdown-btn {
    border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
}

.callNumLine {
    font-size: 2rem;
    text-align: left;
}

.new-composer-open {
    text-decoration: underline;
    color: #002b50;
    text-align: left;
    cursor: pointer;
    font-size: 0.8rem;
}

.id-num-col {
    width: 30%;
}

#identifierValueInput, #titleInput {
    padding: 6px 12px;
}

.identifier-dropdown {
    padding: 6px 6px;
}

@media (min-width: 576px) {
    .additionalInfo .form-check {
        gap: 4rem;
    }

    .additionalInfo .form-label {
        text-align: left;
    }
}