.holdings-filter .dropdown-toggle {
    color: white;
    width: 100%;
    white-space: normal;
    font-size: clamp(0.8rem, 4vw, 1rem);
}

.holdings-filter .dropdown-menu.show {
    background: white;
}

.holdings-filter .search-wrapper {
    width: 100%;
}

.holdings-filter svg {
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin-bottom: 4px;
}

.medium-select-container {
    width: 100%;
}

.open-advanced-filter, .open-basic-filter {
    font-size: clamp(0.8rem, 2vw, 1rem);
    cursor: pointer;
    text-align: center;
}

.open-advanced-filter {
    width: 20%;
    padding: 0;
}

.basic-filter-search {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.filter-text {
    font-size: 0.8rem;
}

.filter-input {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.reset-text {
    font-size: 0.8rem;
    text-decoration: underline;
    color: #002b50;
    text-align: left;
    cursor: pointer;
}

.ensemble-toggle-btn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #222 !important;
    width: auto !important;
}

.ensemble-toggle-btn:hover, .ensemble-toggle-btn:focus, .ensemble-toggle-btn:active {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #222 !important;
}