.holdings-list {
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.holdings-list .card-body {
    padding: 0.5rem;
}

.piece-list-item {
    font-size: clamp(0.8rem, 2vw, 0.8rem);
    cursor: pointer;
}

.piece-list-item:hover {
    background-color: #f8f9fa;
}

.piece-list-item .card-body {
    padding: 1rem;
}

.op-col {
    gap: 0.5rem;
}

.empty-tag {
    display: none;
    background-color: var(--yale-blue);
    height: 40px;
    width: 10px;
    border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
}

@media (min-width: 576px) {
    
    .piece-list-item .card-body {
        padding: 0.5rem;
    }

    .empty-tag {
        display: block;
    }

    .op-col {
        gap: 2rem;
    }
}