.missing-catalogue-notice {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.missing-catalogue-notice-content {
    width: 100%;
    max-width: 600px;
    flex-shrink: 1;
  }

.missing-catalogue-notice .card-body {
    padding: 2rem 3rem;
    gap: 1rem;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
