.site-nav {
    display: flex;
    justify-content: center;
    padding: 0;
  }

.nav-content {
    width: 100vw;
    background-color: #f8f9fa;
    padding: 1rem;
    max-width: 1200px;
    font-family: sans-serif;
    z-index: 100;
}

.nav-content .dropdown-item {
    font-size: 1rem;
}

.nav-content i {
    color: #222;
}

.nav-content .navbar-toggler {
    margin-right: calc(100% - 2rem);
}

.nav-link {
    cursor: pointer;
}

.nav-nav-dropdown {
    padding: 8px 0 8px 0;
}

.logout-text {
    cursor: pointer;
}

@media (min-width: 576px) {
    .nav-content {
        padding: 1rem 3rem;
    }
}

@media (min-width: 992px) {
    .nav-searchbar {
        margin-top: 0;
    }

    .site-nav {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: height 0.3s ease;
        height: 160px;
        width: 100vw;
        z-index: 100;
        overflow: visible;
    }

    .site-nav.hovered {
        height: 250px;
    }

    .nav-content {
        display: flex;
        flex: 0 0 auto;
        position: relative;
        padding: 3rem 1.5rem;
        z-index: 101;
        align-items: center;
        width: 100vw;
    }
}