.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
.pagination-controls button {
    padding: 0.3rem 0.5rem;
    cursor: pointer;
}

.current-page-btn {
    display: none;
}

.pagination-controls button.active {
    font-weight: bold;
    background-color: white;
    color: #00356b;
}

.pagination-controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

@media (min-width: 491px) {

    .pagination-controls button {
        padding: 0.6rem;
    }

    .current-page-btn {
        display: block;
    }
  
  }