.custom-dropdown-menu {
    max-height: 30vh;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
.custom-dropdown-menu .dropdown-item {
    white-space: nowrap;
    font-family: 'Yale New Roman', serif;
}

.custom-dropdown-menu .dropdown-header {
    background-color: #f8f9fa;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.searchableList {
    position: relative;
}

.basic-filter-row {
    container-type: inline-size;
    container-name: filter;
  }

.basic-filter-container {
    flex: 0 0 auto;
    width: 100%;
}

@container filter (min-width: 800px) {
    /* I need to override the bootstrap defaults for this to work */
    .basic-filter-container {
        width: 50% !important;
        flex: 0 0 auto !important;
    }
}