.search-button {
    width: 100%;
    height: 100%;
    border-radius: 50% 0 0 50% !important;
    background: none;
    border: none !important;
    cursor: pointer;
    color: #222;
  }
  
.search-button:hover {
    background: #00356B !important;
}

.search-icon {
    width: 100%;
    height: 100%;
    margin: 0 0 2px 2px;
    color: rgba(0, 0, 0, 0.65);
}

.search-wrapper {
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
}

.search-wrapper input, .search-button {
    font-size: 1rem;
}

.search-wrapper .input-group-text {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
}