/* Possible issue here; what is folder-item? */

.folder-item {
    cursor: pointer;
    padding: 0.5rem;
}

.folder-item:hover {
    background-color: #f0f0f0;
}

.file-card {
    transition: transform 0.2s, box-shadow 0.2s;
    min-height: 125px;
}

.file-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
} 

.file-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pdf-preview {
    margin-top: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

.react-pdf__Document {
    display: flex;
    justify-content: center;
}

.react-pdf__Page {
    display: flex;
    justify-content: center;
}

.react-pdf__Page__canvas {
    width: 100% !important;
    height: auto !important;
    display: block;
}

/* .react-pdf__Page__annotations.annotationLayer, .react-pdf__Page__textContent.textLayer {
    display: none;
} */

.dc-nav-info {
    display: flex;
    justify-content: flex-start;
}

.prev-folder-btn {
    margin-right: 5px;
}

.dc-nav-info p {
    font-size: 0.8rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .dc-nav-info {
        justify-content: space-between;
    }

    .prev-folder-btn {
        margin-right: 0;
    }

    .dc-nav-info p {
        margin-top: 0;
        font-size: 1rem;
    }
}