
.choose-catalogue-folder-container {
    display: flex;
    flex-direction: column;
}

.settings .row>* {
    padding-left: 0;
}

@media (min-width: 992px) {
    .choose-catalogue-folder-container {
        flex-direction: row;
        justify-content: space-between;
    }
}