.holdings-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.holdings-buttons-container button {
    width: auto;
    margin-bottom: 1rem;
}

.choose-catalogue-folder-container {
    display: flex;
    flex-direction: column;
}

.settings .row>* {
    padding-left: 0;
}

@media (min-width: 491px) {
    .holdings-buttons-container {
      display: block;
    } 
  
    .holdings-buttons-container button {
      margin-right: 1rem;
    }
}

@media (min-width: 768px) {
    .choose-catalogue-folder-container {
        flex-direction: row;
        justify-content: space-between;
    }
}