.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchableList {
  position: relative;
}

.custom-dropdown-menu {
  max-height: 20vh; /* 20% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  position: absolute;
  width: 100%;
  top: 100%; /* Position it right below the search bar */
  left: 0;
  z-index: 1000; /* Ensure it appears above other elements */
  background-color: white; /* Ensure it has a background */
  border: 1px solid rgba(0, 0, 0, 0.15); /* Border for better visibility */
}

.custom-dropdown-menu .dropdown-item {
  white-space: nowrap; /* Prevent text from wrapping */
}

.custom-dropdown-menu .dropdown-header {
  background-color: #f8f9fa; /* Light background for headers */
  padding: 0.5rem 1rem; /* Padding for better spacing */
  font-weight: bold; /* Bold text for headers */
}

