.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #00356b;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 1rem 2rem;
  font-family: 'Yale New Bold', serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Yale New Roman', serif;
}

h2 {
  color: #286dc0;
}

.header-content {
  width: 100%;
}

.site-header a {
  font-family: 'Yale Display Roman', serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.App-link {
  color: #61dafb;
}

.site-nav {
  min-height: 20vh;
  display: flex;
  justify-content: center;
}

.nav-content {
  width: 100%;
  max-width: 1200px;
  font-size: clamp(16px, 1.2vw, 20px);
  font-family: 'Mallory Compact', sans-serif;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

input[type="text"] {
  padding-right: 35px;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.fa {
  color: #000000A6;
}


body {
  font-family: 'Mallory', sans-serif;
  font-size: clamp(16px, 1.5vw, 20px);
}

.page-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  padding: 3rem;
  color: #222;
}

.searchableList {
  position: relative;
}

.catalogueNew button, .form-control, .form-label, .form-check, .dropdown-item {
  font-size: clamp(0.8rem, 4vw, 1rem);
}

.catalogueNew .dropdown-toggle {
  color: white;
  width: 100%;
  white-space: normal;
}

.catalogueNew .dropdown-menu {
  width: 100%;
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: normal;
}

.catalogueNew .dropdown-item {
  white-space: normal;
}

.custom-dropdown-menu {
  max-height: 20vh;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.custom-dropdown-menu .dropdown-item, .form-select .dropdown-item {
  white-space: nowrap;
  font-family: 'Yale New Roman', serif;
}

.custom-dropdown-menu .dropdown-header {
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  font-weight: bold; 
}

.additionalInfo {
  border-top: 1px solid gray;
}

.additionalInfo .form-check {
  display: flex;
  text-align: left;
  justify-content: center;
  gap: 2rem;
}

.additionalInfo .form-check label {
  width: 90%;
}

.additionalInfo .form-label {
  font-weight: bold;
}

.feedback {
  font-size: .875em;
  color: var(--bs-form-invalid-color);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup {
  max-height: 80%;
  max-width: 800px;
  margin: 0 2rem;
  overflow-y: scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
  background:  #dddddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
}

.modal-content {
  padding: 0 1rem 1rem 1rem;
}

.close-button {
  font-size: 2rem;
  text-align: left;
  width: 2rem;
  position: relative;
  left: 10px;
  bottom: 5px;
  cursor: pointer;
}

.callNumLine {
  font-size: 2rem;
  text-align: left;
}

.additionalInfo .form-label {
  text-align: center;
  padding-top: 0;
}

.lg-border {
  border-top: 1px solid lightgray;
}

.text-with-icon {
  display: flex;
  align-items: center;
}

.icon-container {
  position: relative;
  display: inline-block;
}

#pd-tooltip-icon {
  cursor: pointer;
}

.pd-tooltip {
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: left;
  font-weight: normal;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container:hover .pd-tooltip {
  opacity: 1;
}

.btn, .btn-primary {
  background-color: #00356b;
  border-color: #00356b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #002b50;
}

.alert-success {
  background-color: rgba(51, 102, 153, 0.5);
  color: #00356b;
  border: 1px solid #00356b;
}



@media (min-width: 500px) {
  .modal-content {
    padding: 0 2rem 2rem 2rem;
  }
}

@media (min-width: 576px) {
  .additionalInfo .form-check {
    gap: 4rem;
  }

  .additionalInfo .form-label {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .modal-content {
    padding: 0 5rem 3rem 5rem;
  }
}